# Project exclude paths
/.gradle/
/Encryption-Decryption/task/build/
/Encryption-Decryption/task/out/
/Encryption-Decryption/task/out/production/classes/
/Topics/Strategy/Pick your team/out/
/Topics/Strategy/Pick your team/out/production/classes/